.image {
    width: 99.99%;
    height: 92vh;
    margin: auto;
}

.productContainer {
    margin: 10px 100px;
    padding: 10px;
}
.subheading {
    font-size: 2.5rem;
    padding: 30px;
    color: rgb(7, 35, 71);
}

@media(max-width: 1000px) {
    .image {
        height: 90vh;
    }
}

@media(max-width: 600px) {
    .image {
        height: 60vh;
    }
}