@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

.product {
    display: inline-block;
    text-align: center;
    margin: 20px;
    height: fit-content;
    width: auto;
}

.card {
    position: relative;
    border-width: 1px;
    width: 280px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    width: 230px;
    background-color: white;
    height: 230px;
    border-radius: 80%;
    transition: transform .4s;
    border-style: ridge;
}

.details {
    top: 0;
    position: relative;
    height: 180px;
}

.productName {
    font-family: 'Raleway', sans-serif;
    padding: 2px;
    color: #000;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.marketPrice, .hbPrice {
    display: inline-block;
    padding: 8px;
}

.marketPrice {
    text-decoration: line-through;
}

.button {
    padding: 2px;
}

.button:hover {
    opacity: 0.7;
}

@media(max-width: 486px) {
    .product {
        margin-left: 11%;
    }
}