@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

.product { 
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    box-shadow: blue;
    border-radius: 10%;
    border-color: #1b6ca8;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 5px #f4f4f4;
}

.imageContainer {
    background-color: #ddf3f5;
    border-radius: 14%;
}

.image {
    width: 200px;
    background-color: white;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 80%;
    border-style: hidden hidden solid hidden;
    transition: transform .4s;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px #a6dcef;
    border: hidden;
}

.productName {
    font-family: 'Raleway', sans-serif;
    padding: 2px;
    color: #000;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.marketPrice, .hbPrice {
    display: inline-block;
    padding: 8px;
}

.marketPrice {
    text-decoration: line-through;
}

.button {
    padding: 2px;
}

.button:hover {
    opacity: 0.7;
}